# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.placeholder

# Operating system/local machines
.DS_Store
Thumbs.db

# Zone Identifier files
*:[Zz]one.Identifier

# VSCode configuration files
.vscode/

# build files
dist/*